# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\KONFIG\KONF_M20_Borovsak_Bregovic_Fuchs\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
